<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Cellphone:</strong>
    <%= user.cellphone %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user.admin %>
  </p>

  <p>
    <strong>Oab:</strong>
    <%= user.oab %>
  </p>

</div>
