<div class="container mt-5">
  <div class="card shadow-lg rounded">
    <div class="card-header bg-primary text-white text-center">
      <h2 class="mb-0">✏️ Editar Usuário</h2>
    </div>
    <div class="card-body">
      <%= form_with(model: @user, local: true) do |f| %>
        <div class="mb-3">
          <%= f.label :name, "👤 Nome" %>
          <%= f.text_field :name, class: "form-control", placeholder: "Digite o nome do usuário" %>
        </div>

        <div class="mb-3">
          <%= f.label :cellphone, "📞 Telefone" %>
          <%= f.text_field :cellphone, class: "form-control", placeholder: "Digite o Telefone" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, "✉️ Email" %>
          <%= f.email_field :email, class: "form-control", placeholder: "Digite o email" %>
        </div>

        <div class="mb-3">
          <%= f.label :oab, "🆔 OAB" %>
          <%= f.text_field :oab, class: "form-control", placeholder: "Digite o número da OAB" %>
        </div>

        <div class="mb-3">
          <%= f.label :role, "👑 Role: " %>
          <%= f.select :role, User::ROLES.map { |r| [r.titleize, r] } %>
        </div>

        <div class="d-flex justify-content-center mt-4">
          <%= link_to "⬅️ Cancelar", user_path(@user), class: "btn btn-secondary mx-2" %>
          <%= f.submit "💾 Salvar Alterações", class: "btn btn-success mx-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
