<div id="<%= dom_id audience %>">
  <p>
    <strong>Number:</strong>
    <%= audience.number %>
  </p>

  <p>
    <strong>State:</strong>
    <%= audience.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= audience.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= audience.address %>
  </p>

  <p>
    <strong>Date time:</strong>
    <%= audience.date_time %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= audience.price %>
  </p>

  <p>
    <strong>Expense:</strong>
    <%= audience.expense %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= audience.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= audience.user_id %>
  </p>

  <p>
    <strong>Notifications:</strong>
    <%= audience.notifications %>
  </p>

</div>
